// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.post{
  border-bottom: 1px solid #999;
  padding-bottom: 15px;
  margin-bottom: 15px;
  .post-meta{
    margin: 5px 0;
    color: #777;
    font-weight: 300;
  }
}

.post:last-child, .last-post{
  border: none;
  margin-bottom: 0;
}